<!DOCTYPE html>
<html>

<head>
    <title>Thi</title>
    <link rel="stylesheet" href="../../static/assets/css/student/thi.css"
    th:href="@{/assets/css/student/thi.css}" >
    <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap"
            rel="stylesheet"
        />
</head>

<body>
    <div class="main-container">
        <div class="question-index-bar">
            <div><a href="">Câu 1</a></div>
            <div><a href="">Câu 2</a></div>
            <div><a href="">Câu 3</a></div>
            <div><a href="">Câu 4</a></div>
            <div><a href="">Câu 5</a></div>
        </div>
        <div class="exam-view">
            <div class="subject-name">THỰC TẬP CƠ SỞ</div>
            <div class="question">CÂU 1: HÃY CHO BIẾT</div>
            <div class="box-answer">
                <form class="form">
                    <div class="answer">
                        <input type="radio" id="A" name="answer">
                        <label for="A">HÃY CHO BIẾT</label>
                    </div>
                    <div class="answer">
                        <input type="radio" id="B" name="answer">
                        <label for="B">HÃY CHO BIẾT</label>
                    </div>
                    <div class="answer">
                        <input type="radio" id="C" name="answer">
                        <label for="C">HÃY CHO BIẾT</label>
                    </div>
                    <div class="answer">
                        <input type="radio" id="D" name="answer">
                        <label for="D">HÃY CHO BIẾT</label>
                    </div>
                </form>
            </div>
            <div class="navigation">
                <a href="#" class="previous">&laquo; Previous</a>
                <a href="#" class="next">Next &raquo;</a>
            </div>
        </div>
        <div class="info-view">
            <div class = "time-left">
                <p>Thời gian: 60:00 phút</p>
                <p>Còn lại:  59:00 phút</p>
            </div>
            <div class="candidate-info">
                <div>THÔNG TIN</div>
                <div>MASV: N21DCCN067</div>
                <div>Họ và tên: Nguyễn Bình Phương</div>
                <div>Lần thi: 1</div>
                <div>Ngày thi: 1/1/2024</div>
            </div>
            <div class = "score">
                <div>ĐIỂM</div>
                <div>100</div>
            </div>
            <button class = "submit">SUBMIT</button>
        </div>
    </div>
    <script src = "../../static/javascript/student/thi.js"></script>
</body>

</html>