:root {
    --width-header: 107px;
}

.controller-wrapper {
    /* height: 100vh; */
    position: fixed;
    left: 0;
    bottom: 0;
    top: 0;
    background-color: var(--primary-color);
    padding: 63px 63px 90px;
    border-radius: 0px 40px 40px 0px;
}

.controller-wrapper .admin-text {
    color: #FFF;
    font-family: Roboto;
    font-size: 4rem;
    font-weight: 700;
    margin-left: 6px;
}

.controller-wrapper .feature-list {
    margin-top: 115px;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

.controller-wrapper .feature-list .item {
    display: flex;
    align-items: center;
    column-gap: 16px;
    color: #ccc;
    cursor: pointer;
}

.feature-list .item:hover,
.feature-list .item.active {
    color: #FFF;
}


.header {
    padding: 36px 106px;
    height: var(--width-header);
}

.user-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 12px;
}

.user-wrapper .img-wrapper {
    border: 1px solid var(--primary-color);
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--primary-color);
}

.user-wrapper .text {
    font-family: Roboto;
    font-size: 2.1rem;
    font-weight: 500;
}

.content {
    display: flex;
    justify-content: center;
    height: calc(100vh - var(--width-header));
    background: #FAFAFC;
}

.content-wrapper {
    width: 948px;
    max-width: calc(100% -48px);
}

.content-top {
    margin-top: 33px;
    display: flex;
    justify-content: space-between;
}

.content-top .text {
    color: #353535;
    font-family: Poppins;
    font-size: 2.6rem;
    font-weight: 700;
}

.content-bottom {
    padding: 16px 0;
    margin-top: 52px;
    min-height: 600px;
    border-radius: 18px;
    background: var(--Neutral-Colors-100, #FFF);
    box-shadow: 0px 8px 24px 0px rgba(149, 157, 165, 0.20);
    display: flex;
    flex-direction: column;
}

.find-wrapper {
    margin: 0 16px;
}

.search-wrapper {
    margin-left: 8px;
    border-radius: 8px;
    border: 1px solid #9E9E9E;
    display: inline-flex;
    align-items: center;
    padding: 9px;
    column-gap: 3px;
}

.input-wrapper:focus-within {
    /* border: 1px solid #FFF; */
}

.find-wrapper input {
    border: none;

}

.find-wrapper input:focus {
    outline: none;
}

.table {
    width: 100%;
    height: 50%;
    overflow: scroll;
    text-align: center;
}

.table th {
    font-weight: 700;
}

td {
    vertical-align: middle;
}

td,
th {
    padding: 16px;
}

.table tr:nth-child(odd) {
    background: #F7F6FE;
}

.table thead tr {
    background: #FFF !important;
}

.table .action {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.table .action img {
    cursor: pointer;
}



.table .action img:hover {
    opacity: 0.8;
}

.table-controller {
    display: flex;
    align-items: center;
    column-gap: 12px;
    justify-content: center;
    margin-top: auto;
    margin-bottom: 16px;
}

.table-controller .text {
    font-size: 1.6rem;
    font-weight: 500;
    color: #9E9E9E;
}

.table-controller .text:hover {
    color: #353535;
    cursor: pointer;
}

.table-controller .page-number {
    display: flex;
    column-gap: 12px;
}

.table-controller .page-number .item {
    display: inline-block;
    padding: 14px 16px;
    background: #E0E0E0;
    border-radius: 8px;
    font-size: 1.6rem;
    color: black;
    font-weight: 500;
}

.table-controller .page-number .item:hover {
    opacity: 0.9;
    cursor: pointer;
    background-color: var(--primary-color);
    color: #FFF;
}

.btn-register {
    margin-top: 37px;
    border-radius: 10px;
    column-gap: 16px;
    align-items: center;
    background-color: #FFF;
}

.btn-register:hover .circle {
    background-color: #FFF;
}

.btn-register .circle {
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    border-radius: 50%;
    transition: background-color ease-in-out .5s;
}

.btn-register span {
    font-weight: 700;
    font-family: Roboto;
    font-size: 2.4rem;
}

.btn-register .circle svg {
    color: #FFF;
    transition: color ease-in-out .5s;
}

.btn-register:hover .circle svg {
    color: var(--primary-color);
}

/* Modal */
.modal {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    justify-content: center;
    align-items: center;
}

.modal.open {
    display: flex;
}

.modal-container {
    width: 500px;
    /* height: 500px; */
    background-color: #fff;
    animation: modalFadeIn ease 0.3s;
}

.modal-container .header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    background-color: var(--primary-color);
    font-size: 2.5rem;
    color: #fff;
    font-weight: 500;
}

.modal-container .box-wrapper {
    margin-top: 16px;
}


.modal-container .select-wrapper {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.closeBtn {
    height: 55.55px;
}

.btn-controller {
    display: flex;
    align-items: center;
    margin-top: 30px;
    justify-content: space-between;
}

.input-wrapper.invalid {
    border: red 0.6px solid;
}

.form-message {
    opacity: 0;
}

.input-wrapper.invalid+.form-message {
    margin-top: 16px;
    opacity: 1;
    color: red;
}

.form-wrapper {
    display: grid;
    grid-template-areas:
        "formLastname formFirstName"
        "errorMessageLastname errorMessageFirstName"
    ;
    column-gap: 16px;
    margin-bottom: 16px;
}


.form-wrapper .input-wrapper:nth-of-type(1) {
    grid-area: formLastname;
    margin: 0;
}

.form-wrapper .input-wrapper:nth-of-type(1)+.form-message {
    grid-area: errorMessageLastname;
}

.form-wrapper .input-wrapper:nth-of-type(2) {
    grid-area: formFirstName;
    margin: 0;
}

.form-wrapper .input-wrapper:nth-of-type(2)+.form-message {
    grid-area: errorMessageFirstName;
}

@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-120px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}