/* Modal */
.modal {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    justify-content: center;
    align-items: center;
}

.modal.open {
    display: flex;
}

.modal-container {
    width: 500px;
    /* height: 500px; */
    background-color: #fff;
    animation: modalFadeIn ease 0.3s;
}

.modal-container .header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    background-color: var(--primary-color);
    font-size: 2.5rem;
    color: #fff;
    font-weight: 500;
}

.modal-container .box-wrapper {
    margin-top: 16px;
}


.modal-container .select-wrapper {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.closeBtn {
    height: 55.55px;
}

.btn-controller {
    display: flex;
    align-items: center;
    margin-top: 30px;
    justify-content: space-between;
}

.form-wrapper {
    display: grid;
    grid-template-areas:
        "formLastname formFirstName"
        "errorMessageLastname errorMessageFirstName"
    ;
    column-gap: 16px;
    margin-bottom: 16px;
}


.form-wrapper .input-wrapper:nth-of-type(1) {
    grid-area: formLastname;
    margin: 0;
}

.form-wrapper .input-wrapper:nth-of-type(1)+.form-message {
    grid-area: errorMessageLastname;
}

.form-wrapper .input-wrapper:nth-of-type(2) {
    grid-area: formFirstName;
    margin: 0;
}

.form-wrapper .input-wrapper:nth-of-type(2)+.form-message {
    grid-area: errorMessageFirstName;
}

@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-120px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}




i:hover {
    opacity: 0.8;
    cursor: pointer;
}

.add-exam-btn,
.edit {
    font-size: 1.8rem;
    color: #48B16E;
    margin-right: 8px;
}

.fa-trash {
    color: #A30D11;
    font-size: 1.8rem;
}

.add-btn {
    margin-top: 16px;
}

.select-subject-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.select-subject-wrapper select {
    flex-grow: 1;
}