* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --primary-color: #4A3AFF;
    --primary-black-color: rgba(0, 0, 0, 0.60);
    --gray: #696F79;
    --width-header: 107px;
}

html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}

body {
    font-size: 1.6rem;
}

/* ===========================container================================ */
.main-container {
    /* dùng dạng flex box */
    display: flex;
    /* ẩn thanh cuộn khi thu nhỏ */
    overflow: hidden;
}

.child-container {
    /* kích thước chiều cao full màn hình*/
    height: 100vh;
}

.left-container {
    /* bên phần menu chọn */
    background-color: var(--primary-color);
    padding: 63px 63px 90px;
    padding-right: 0px;
    border-radius: 0px 40px 40px 0px;
    /* chiếm 1/6 */
    flex-grow: 1;
    max-width: 300px;
}

.right-container {
    /* chiếm 5/6 */
    flex-grow: 5;
    /* dùng flex để chia làm hai phần trên và dưới */
    display: flex;
    /* theo dạng cột */
    flex-direction: column;
}

/* ===============left-container============================= */

.left-container .list {

    margin-top: 115px;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

.left-container .list .item {
    display: flex;
    align-items: center;
    column-gap: 16px;
    color: #ccc;
    cursor: pointer;
    padding-left: none
}

.left-container .student-text {
    color: #FFF;
    font-family: Roboto;
    font-size: 4rem;
    font-weight: 700;
    margin-left: 6px;
}

/* =====================.right-container======================= */
.right-child-container-top {
    /* border: solid black 2px; */
    flex-grow: 1;
}

.right-child-container-bottom {
    /* border: 2px solid  crimson ; */
    padding: 10px;  
    padding-top: 0px;
    flex-grow: 4;
    overflow: scroll;
}

/* ======================Form=========================================== */
.right-child-container-bottom .form {
    margin:10% 25%;
    display: flex;
    flex-direction: column;
    row-gap: 5%;
    padding: 5%;
    width: 45%;
    background-color: rgb(190, 215, 240);
    box-shadow: 10px 5px 5px rgb(168, 200, 244);
}

.btn {
    width: 10%;
    margin-top: 10%;
    align-self: center;
}
/* =========================table=============================================== */
table {
    border-collapse: collapse;
    border-radius: 20px;
    border: #030306 2px solid;
    width: 100%;
    position: relative;
}

thead {
    font-weight: bold;
    /* dùng sticky để trượt không bị mất đi header */
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #2FA4E7;
}

td {
    border: 1px solid;
    padding-left: 10px;
}

/* =======================header======================== */

.header {
    padding: 36px 106px;
    height: var(--width-header);
}

.user-wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.user-wrapper .list{
    position: fixed;
    top:98px;
    right: 109px;
    border: 1px solid;
    background-color: #2FA4E7;
    list-style: none;
    display: none;
}
.user-wrapper .list .item{
    padding: 10px;
}
.user-wrapper .img-wrapper {
    border: 1px solid var(--primary-color);
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--primary-color);
    cursor: pointer;
}

.user-wrapper .text {
    font-family: Roboto;
    font-size: 2.1rem;
    font-weight: 500;
}

/* =====================error======================== */
.right-child-container-bottom .form .error{
    color: red;
    font-size: small;
}

/* CSS để tạo hiệu ứng lăc lắc */
@keyframes shake {
    0%, 100% { transform: translateX(0); }
    20%, 40%, 60%, 80% { transform: translateX(-5px); }
    30%, 50%, 70% { transform: translateX(5px); }
  }
  
  .shake-animation {
    animation: shake 0.5s ease-in-out infinite;
  }