<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <html xmlns:th="http://www.thymeleaf.org"></html>
        <link
            rel="stylesheet"
            href="../static/assets/css/reset.css"
            th:href="@{/assets/css/reset.css}"
        />
        <link
            rel="stylesheet"
            href="../static/assets/css/common.css"
            th:href="@{/assets/css/common.css}"
        />
        <link
            rel="stylesheet"
            href="../static/assets/css/lecturer-style.css"
            th:href="@{/assets/css/lecturer-style.css}"
        />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap"
            rel="stylesheet"
        />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
            integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
    </head>
    <body>
        <!-- <div class="popup-wrapper">
            <div class="popup">
                <div class="top">
                    <div class="icon-wrapper">
                        <i class="fa-solid fa-check check"></i>
                    </div>
                    <i class="fa-solid fa-xmark close"></i>
                </div>
                <span class="title">Blog post published</span>
                <div class="desc">
                    This blog post has been published. Team members will be able
                    to edit this post and republish changes.
                </div>
                <div class="btn-group">
                    <a href="#!" class="cancel-btn">Cancel</a>
                    <a href="#!" class="confirm-btn">Confirm</a>
                </div>
            </div>
        </div> -->
        <div class="controller-wrapper">
            <div class="logo-wrapper">
                <img
                    src="../static/assets/img/multi-dot.svg"
                    alt=""
                    th:src="@{/assets/img/multi-dot.svg}"
                />
                <span class="admin-text">Lecturer</span>
            </div>
            <ul class="feature-list">
                <li class="item" data-name="xemdiem">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="28"
                        viewBox="0 0 24 28"
                        fill="none"
                        class="icon"
                    >
                        <path
                            d="M12 21.4073C11.59 21.4073 11.25 21.0363 11.25 20.5889V17.3156C11.25 16.8682 11.59 16.4973 12 16.4973C12.41 16.4973 12.75 16.8682 12.75 17.3156V20.5889C12.75 21.0363 12.41 21.4073 12 21.4073Z"
                            fill="currentColor"
                        />
                        <path
                            d="M17.6 25.5644H6.39996C4.57996 25.5644 2.91996 24.0368 2.61996 22.0837L1.28996 13.3876C1.06996 12.0346 1.67996 10.2997 2.66996 9.43775L9.59996 3.38209C10.94 2.20369 13.05 2.2146 14.4 3.393L21.33 9.43775C22.31 10.2997 22.91 12.0346 22.71 13.3876L21.38 22.0728C21.08 24.0041 19.38 25.5644 17.6 25.5644ZM11.99 4.14586C11.46 4.14586 10.93 4.32044 10.54 4.65869L3.60996 10.7253C3.04996 11.2163 2.64996 12.351 2.76996 13.1257L4.09996 21.811C4.27996 22.9566 5.32996 23.9277 6.39996 23.9277H17.6C18.67 23.9277 19.72 22.9566 19.9 21.8L21.23 13.1148C21.34 12.351 20.94 11.1944 20.39 10.7144L13.46 4.6696C13.06 4.32044 12.52 4.14586 11.99 4.14586Z"
                            fill="currentColor"
                        />
                    </svg>
                    <span class="text">Xem điểm</span>
                </li>
                <li class="item" data-name="cauhoi">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="27"
                        viewBox="0 0 24 27"
                        fill="none"
                        class="icon"
                    >
                        <path
                            d="M15 25.3561H9C3.57 25.3561 1.25 22.8247 1.25 16.9V10.3533C1.25 4.42859 3.57 1.89722 9 1.89722H14C14.41 1.89722 14.75 2.26819 14.75 2.71555C14.75 3.16291 14.41 3.53388 14 3.53388H9C4.39 3.53388 2.75 5.32331 2.75 10.3533V16.9C2.75 21.93 4.39 23.7194 9 23.7194H15C19.61 23.7194 21.25 21.93 21.25 16.9V11.4444C21.25 10.9971 21.59 10.6261 22 10.6261C22.41 10.6261 22.75 10.9971 22.75 11.4444V16.9C22.75 22.8247 20.43 25.3561 15 25.3561Z"
                            fill="currentColor"
                        />
                        <path
                            d="M22 12.2606H18C14.58 12.2606 13.25 10.8094 13.25 7.07777V2.71333C13.25 2.386 13.43 2.08048 13.71 1.96046C13.99 1.82953 14.31 1.90591 14.53 2.13504L22.53 10.8639C22.6343 10.9786 22.7052 11.1243 22.7338 11.2828C22.7624 11.4412 22.7474 11.6054 22.6908 11.7546C22.6342 11.9038 22.5384 12.0315 22.4155 12.1215C22.2926 12.2115 22.148 12.2599 22 12.2606ZM14.75 4.68824V7.07777C14.75 9.89284 15.42 10.6239 18 10.6239H20.19L14.75 4.68824Z"
                            fill="currentColor"
                        />
                    </svg>
                    <span class="text">Quản li câu hỏi</span>
                </li>
            </ul>
        </div>
        <div class="header">
            <div class="user-wrapper">
                <span class="text">Hello, Quang!</span>
                <div class="img-wrapper">
                    <img
                        src="../static/assets/img/icon.svg"
                        th:src="@{/assets/img/icon.svg}"
                        alt=""
                    />
                    <ul class="setting-wrapper">
                        <li><a class="item" href="#!">Profile</a></li>
                        <li><a class="item" href="/logout">Sign Out</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="content-wrapper content-cauhoi" data-name="cauhoi">
                <div class="content-top">
                    <span class="text">Question Management</span>
                    <div class="sort-wrapper">
                        <label for="sort-student">Sort</label>
                        <select id="sort-student">
                            <option value="">All</option>
                            <option value="">Toay</option>
                            <option value="">This Week</option>
                            <option value="">This Month</option>
                        </select>
                    </div>
                </div>
                <div class="content-bottom">
                    <div class="filter-wrapper">
                        <div class="find-wrapper">
                            <label for="search">Entries</label>
                            <div class="search-wrapper">
                                <img
                                    src="../static/assets/img/search-icon.svg"
                                    th:src="@{/assets/img/search-icon.svg}"
                                    alt=""
                                />
                                <input
                                    type="text"
                                    name=""
                                    id="search-cauhoi"
                                    placeholder="Search..."
                                />
                            </div>
                        </div>
                        <div class="sort-wrapper sort-wrapper-monhoc">
                            <label for="sort-monhoc">Môn học</label>
                            <select id="sort-monhoc"></select>
                        </div>
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Mã câu hỏi</th>
                                <th>Môn học</th>
                                <th>Hình thức</th>
                                <th>Nội dung</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <div class="table-controller">
                        <span class="text prev">Previous</span>
                        <div class="page-number">
                            <span class="item">1</span>
                            <span class="item">2</span>
                            <span class="item">3</span>
                        </div>
                        <span class="text next"> Next</span>
                    </div>
                </div>
                <a href="#!" class="btn-trans btn-register">
                    <div class="circle">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="17"
                            height="17"
                            viewBox="0 0 17 17"
                            fill="none"
                        >
                            <path
                                d="M15.7857 6.67857H10.3214V1.21429C10.3214 0.543772 9.77766 0 9.10714 0H7.89286C7.22234 0 6.67857 0.543772 6.67857 1.21429V6.67857H1.21429C0.543772 6.67857 0 7.22234 0 7.89286V9.10714C0 9.77766 0.543772 10.3214 1.21429 10.3214H6.67857V15.7857C6.67857 16.4562 7.22234 17 7.89286 17H9.10714C9.77766 17 10.3214 16.4562 10.3214 15.7857V10.3214H15.7857C16.4562 10.3214 17 9.77766 17 9.10714V7.89286C17 7.22234 16.4562 6.67857 15.7857 6.67857Z"
                                fill="currentColor"
                            ></path>
                        </svg>
                    </div>
                    <span>Thêm câu hỏi</span>
                </a>
            </div>
            <div class="content-wrapper content-xemdiem" data-name="xemdiem">
                <div class="content-top">
                    <span class="text">Students</span>
                    <div class="sort-wrapper">
                        <label for="sort-student">Sort</label>
                        <select id="sort-student">
                            <option value="">All</option>
                            <option value="">Toay</option>
                            <option value="">This Week</option>
                            <option value="">This Month</option>
                        </select>
                    </div>
                </div>
                <div class="content-bottom">
                    <div class="filter-wrapper">
                        <div class="find-wrapper">
                            <label for="search">Entries</label>
                            <div class="search-wrapper">
                                <img
                                    src="../static/assets/img/search-icon.svg"
                                    th:src="@{/assets/img/search-icon.svg}"
                                    alt=""
                                />
                                <input
                                    type="text"
                                    name=""
                                    id="search-student"
                                    placeholder="Search..."
                                />
                            </div>
                        </div>
                        <div class="sort-wrapper">
                            <label for="sort-malop">Mã lớp</label>
                            <select id="sort-malop">
                                <option value="">All</option>
                                <option value="">Toay</option>
                                <option value="">This Week</option>
                                <option value="">This Month</option>
                            </select>
                        </div>
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th data-name="maLop">Mã Lớp</th>
                                <th data-name="mamh">Mã MH</th>
                                <th data-name="lan">Lần thi</th>
                                <th data-name="ngayThi">Ngày Thi</th>
                                <th data-name="action">Action</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <div class="content-profile">
                <div class="profile-left">
                    <span class="profile">Profile</span>
                    <div class="img-wrapper">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                        >
                            <path
                                fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="M12 4C9.79086 4 8 5.79086 8 8C8 10.2091 9.79086 12 12 12C14.2091 12 16 10.2091 16 8C16 5.79086 14.2091 4 12 4ZM15.641 12.7694C17.075 11.673 18 9.94452 18 8C18 4.68629 15.3137 2 12 2C8.68629 2 6 4.68629 6 8C6 9.94452 6.92501 11.673 8.35901 12.7694C7.35354 13.2142 6.4285 13.8436 5.63604 14.636C5.02411 15.248 4.50935 15.939 4.10177 16.6851C3.34966 18.0619 3.65638 19.4657 4.50339 20.4584C5.3188 21.414 6.62502 22 8 22H16C17.375 22 18.6812 21.414 19.4966 20.4584C20.3436 19.4657 20.6503 18.0619 19.8982 16.6851C19.4907 15.939 18.9759 15.248 18.364 14.636C17.5715 13.8436 16.6465 13.2142 15.641 12.7694ZM12 14C10.1435 14 8.36301 14.7375 7.05025 16.0503C6.57425 16.5263 6.17394 17.0637 5.85696 17.6439C5.54999 18.2058 5.64902 18.7198 6.02481 19.1602C6.4322 19.6376 7.16584 20 8 20H16C16.8342 20 17.5678 19.6376 17.9752 19.1602C18.351 18.7198 18.45 18.2058 18.143 17.6439C17.8261 17.0637 17.4258 16.5263 16.9497 16.0503C15.637 14.7375 13.8565 14 12 14Z"
                                fill="white"
                            />
                        </svg>
                    </div>
                    <div class="name">Quang Tran</div>
                    <div class="role">Student</div>
                    <div class="attribute-wrapper">
                        <div class="item">
                            <span class="number">21</span>
                            <span class="text">Exams</span>
                        </div>
                        <div class="separate"></div>
                        <div class="item">
                            <span class="number">238</span>
                            <span class="text">Lecturer</span>
                        </div>
                        <div class="separate"></div>
                        <div class="item">
                            <span class="number">101</span>
                            <span class="text">Student</span>
                        </div>
                    </div>
                </div>
                <div class="separate"></div>
                <div class="profile-right">
                    <form action="" class="config-form" method="post">
                        <span class="error-message"></span>
                        <div class="form-wrapper">
                            <div class="input-wrapper">
                                <label for="lastname">Họ</label>
                                <input
                                    type="text"
                                    placeholder=""
                                    name="ho"
                                    id="lastname"
                                    autocomplete="nope"
                                    rules="required"
                                />
                                <div class="bar"></div>
                            </div>
                            <span class="form-message"></span>
                            <div class="input-wrapper">
                                <label for="firstname">Tên</label>
                                <input
                                    type="text"
                                    placeholder=""
                                    name="ten"
                                    id="firstname"
                                    autocomplete="nope"
                                    rules="required"
                                />
                                <div class="bar"></div>
                            </div>
                            <span class="form-message"></span>
                        </div>
                        <span class="form-message"></span>
                        <div class="box-wrapper">
                            <input
                                type="radio"
                                name="gioiTinh"
                                id="male"
                                value="0"
                                checked
                            />
                            <label for="male" checked>Nam</label>
                            <input
                                type="radio"
                                name="gioiTinh"
                                id="female"
                                value="1"
                            />
                            <label for="female">Nữ</label>
                        </div>
                        <span class="form-message"></span>
                        <div class="input-wrapper">
                            <label for="hocvi">Học vị:</label>
                            <select id="hocvi" name="hocVi">
                                <option value="THẠC SĨ">Thạc sĩ</option>
                                <option value="TIẾN SĨ">Tiến sĩ</option>
                            </select>
                        </div>
                        <span class="form-message"></span>
                        <div class="input-wrapper">
                            <label for="hocham">Học hàm:</label>
                            <select id="hocham" name="hocHam">
                                <option value="KHÔNG">Không</option>
                                <option value="GIÁO SƯ">Giáo sư</option>
                            </select>
                        </div>
                        <span class="form-message"></span>
                        <div class="btn-controller">
                            <button
                                type="submit"
                                href="#!"
                                class="btn save-btn"
                            >
                                Save
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal">
            <div class="modal-container" data-name="cauhoi">
                <div class="type-wrapper">
                    <label for="type-question" class="text-type"
                        >Vui lòng chọn hình thức câu hỏi</label
                    >
                    <select name="" id="type-question" class="type-selection">
                        <option value="ĐIỀN KHUYẾT">Điền khuyết</option>
                        <option value="CHỌN 1 TRONG NHIỀU LỰA CHỌN">
                            Chọn một trong nhiều lựa chọn
                        </option>
                        <option value="YES/NO">Yes/No</option>
                    </select>
                    <div class="btn-controller">
                        <a href="#!" class="btn-trans closeBtn">Close</a>
                        <button
                            type="submit"
                            href="#!"
                            class="btn registerSubmitBtn next-btn"
                        >
                            next
                        </button>
                    </div>
                </div>
            </div>
            <div class="modal-container" data-name="create-cauhoi">
                <div class="header">Tạo câu hỏi</div>
                <form action="" class="register-form" method="post">
                    <div class="input-wrapper">
                        <label for="monHoc">Chọn môn học:</label>
                        <select id="monHoc" name="monHoc"></select>
                    </div>
                    <span class="form-message"></span>
                    <div class="input-wrapper">
                        <label for="noiDungCauHoi">Nội dung câu hỏi</label>
                        <textarea
                            name="noiDungCauHoi"
                            id="noiDungCauHoi"
                            cols="30"
                            rows="2"
                            rules="required"
                        ></textarea>
                        <div class="bar"></div>
                    </div>
                    <span class="form-message"></span>
                    <div class="btn-controller">
                        <button
                            type="submit"
                            href="#!"
                            class="btn registerSubmitBtn"
                        >
                            Register
                        </button>
                        <a href="#!" class="btn-trans closeBtn">Close</a>
                    </div>
                </form>
            </div>
            <div class="modal-container" data-name="question-detail">
                <div class="question-detail-wrapper">
                    <div class="top">
                        <span class="question-id"
                            >Mã câu hỏi: <span></span
                        ></span>
                        <i class="fa-solid fa-xmark"></i>
                    </div>
                    <span class="text">Nội dung câu hỏi:</span>
                    <p class="question-content"></p>
                    <div class="selection-wrapper"></div>
                </div>
            </div>
            <div class="modal-container" data-name="xemdiem">
                <i class="fa-solid fa-xmark closeBtn"></i>
                <table class="table">
                    <thead>
                        <tr>
                            <th data-name="masv">Mã Sinh Viên</th>
                            <th data-name="ho">Họ</th>
                            <th data-name="ten">Tên</th>
                            <th data-name="diem">Điểm</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
        <!-- Script -->
        <script
            th:src="@{/javascript/popup.js}"
            src="../static/javascript/popup.js"
        ></script>
        <script
            th:src="@{/javascript/toast.js}"
            src="../static/javascript/toast.js"
        ></script>
        <script
            th:src="@{/javascript/validation.js}"
            src="../static/javascript/validation.js"
        ></script>
        <script
            th:src="@{/javascript/XuLyTable.js}"
            src="../static/javascript/XuLyTable.js"
        ></script>
        <script
            th:src="@{/javascript/XuLyLecturer.js}"
            src="../static/javascript/XuLyLecturer.js"
        ></script>
        <!-- <script>
            popup(
                {
                    type: "remove",
                    title: "Thêm lựa chọn",
                    desc: "Vui lòng nhập nội dung lựa chọn",
                },
                true,
                console.log,
                "Hello"
            );
        </script> -->
    </body>
</html>
