<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <!-- Reset CSS -->
        <!-- <link rel="stylesheet" th:href="@{assets/css/reset.css}" /> -->

        <!-- Style CSS -->
        <!-- <link rel="stylesheet" th:href="@{assets/css/common.css}" />
        <link rel="stylesheet" th:href="@{assets/css/login-style.css}" /> -->
        <html xmlns:th="http://www.thymeleaf.org"></html>
        <link
            rel="stylesheet"
            href="../static/assets/css/reset.css"
            th:href="@{/assets/css/reset.css}"
        />
        <link
            rel="stylesheet"
            href="../static/assets/css/common.css"
            th:href="@{/assets/css/common.css}"
        />
        <link
            rel="stylesheet"
            href="../static/assets/css/login-style.css"
            th:href="@{/assets/css/login-style.css}"
        />

        <!-- Embed Font -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap"
            rel="stylesheet"
        />

        <!-- Favicon -->
        <link
            rel="apple-touch-icon"
            sizes="57x57"
            href="./assets/favicon/apple-icon-57x57.png"
        />
        <link
            rel="apple-touch-icon"
            sizes="60x60"
            href="./assets/favicon/apple-icon-60x60.png"
        />
        <link
            rel="apple-touch-icon"
            sizes="72x72"
            href="./assets/favicon/apple-icon-72x72.png"
        />
        <link
            rel="apple-touch-icon"
            sizes="76x76"
            href="./assets/favicon/apple-icon-76x76.png"
        />
        <link
            rel="apple-touch-icon"
            sizes="114x114"
            href="./assets/favicon/apple-icon-114x114.png"
        />
        <link
            rel="apple-touch-icon"
            sizes="120x120"
            href="./assets/favicon/apple-icon-120x120.png"
        />
        <link
            rel="apple-touch-icon"
            sizes="144x144"
            href="./assets/favicon/apple-icon-144x144.png"
        />
        <link
            rel="apple-touch-icon"
            sizes="152x152"
            href="./assets/favicon/apple-icon-152x152.png"
        />
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="./assets/favicon/apple-icon-180x180.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="192x192"
            href="./assets/favicon/android-icon-192x192.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="./assets/favicon/favicon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="96x96"
            href="./assets/favicon/favicon-96x96.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="./assets/favicon/favicon-16x16.png"
        />
        <link rel="manifest" href="./assets/favicon/manifest.json" />
        <meta name="msapplication-TileColor" content="#ffffff" />
        <meta
            name="msapplication-TileImage"
            content="./assets/favicon/ms-icon-144x144.png"
        />
        <meta name="theme-color" content="#ffffff" />
    </head>
    <body>
        <div class="login">
            <div class="login-left">
                <a href="/">
                    <img
                        src="../static/assets/img/quizgrad.svg"
                        th:src="@{/assets/img/quizgrad.svg}"
                        alt=""
                    />
                </a>
                <p class="desc">
                    Welcome back! <br />Please login/Signup to your account.
                </p>
                <div
                    th:if="${error}"
                    th:text="${error}"
                    style="color: red"
                ></div>

                <form action="/login" class="login-form" method="post">
                    <div class="input-wrapper">
                        <label for="username">Username</label>
                        <input
                            type="text"
                            placeholder=""
                            name="username"
                            id="username"
                            autocomplete="nope"
                        />
                        <div class="bar"></div>
                    </div>
                    <div class="input-wrapper">
                        <label for="password">Password</label>
                        <input
                            type="password"
                            placeholder=""
                            name="password"
                            id="password"
                        />
                        <div class="bar"></div>
                    </div>
                    <div class="box_wrapper">
                        <input
                            type="checkbox"
                            name="remember"
                            id="remember"
                            hidden
                        />
                        <label for="remember">Remember me</label>
                    </div>
                    <input type="submit" value="Login" class="btn" />
                </form>
            </div>
            <div class="login-right">
                <img
                    src="../static/assets/img/hands-graduate.svg"
                    th:src="@{/assets/img/hands-graduate.svg}"
                    alt=""
                />
            </div>
        </div>
    </body>
    <script
        th:src="@{/javascript/validation.js}"
        src="../static/javascript/validation.js"
    ></script>
</html>
